fastapi==0.108.0
uvicorn==0.25.0
python-dotenv
pydantic<2.6
pydantic-settings
sqlalchemy
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt
ccxt==4.2.19
requests
httpx
aiohttp
PyYAML
email-validator==2.1.0.post1
python-multipart
psycopg2-binary
python-telegram-bot
pandas==2.2.2
numpy==2.1.0
scikit-learn==1.7.2
xgboost==2.0.3
vaderSentiment==3.3.2
yfinance==0.2.52
